/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
/*natives*/
html {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  }
body {

}
.hidden {
  display: none;
}
nav {
  background: #0fb9b1;
  height: 83px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
}
/* Misc */
.asterisk {
  color: #ee5253;
}
/*boxes*/
.box {
display: flex;
justify-content: center;
margin-top: 3%;
}
section {
  background: rgba(225, 225, 225, .9);
}
.sec-one {
margin-right: 10%;
box-sizing: border-box;
width: 30%;
padding-left: 2%;
padding-bottom: 3%;
padding-top: 3%;
}
.sec-two {
margin-left: 10%;
box-sizing: border-box;
width: 30%;

}
h3 {
  font-style: italic;
}
img {
  max-width: 1500px;
  width: 25%;
  display: block;
  margin: 0 auto;
  padding-top: 20%;
}

/*buttons*/
button {
  border-radius: 6px;
  border: none;
}
.add-recipe-button {
  background: #EFEFEF;
}
.lets-cook {
  background: #0fb9b1;
  box-sizing: border-box;
  width: 175px;
  height: 30px;
}
.clear-button {
  background: #95a5a6;
  color: white;
}
label {

}
input {
  margin-bottom: 4%
}

/* removed from section
margin-top: 4%;
width: 36%;
height: 39%;
